{% extends 'core/core.html' %} {% block content %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static 'add/css/style.css' %}">

{% endblock css %}




<h2 class="p-3">
  <button type="button" class="btn text-light btn-info fw-bold fs-5">
    Add new 
</button>
 
 </h2>

<div class="row  mx-3">
  <div class="col-md-4 border shadow rounded">

  
    <div class="add">
    
      <form action="" method='POST'>{% csrf_token %}
        <div class="my-2 fmdata">
             {{form.as_p}}
          <button type="submit" class="btn btn-primary fw-bold">Save</button>
          <a href="/add">
            <button type="button" class="btn text-light fw-bold btn-warning">Clear</button><i class="fa-duotone fa-trash"></i> </a
          >
        </div>
      </form>
    </div>

 
   

  </div>
  <div class="col-md-8 ">
    
    <table class="table  table-striped table-hover">
      <thead>
        <tr class="table-dark">
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Slug</th>

          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>

        {% if da %}
         <tr class=" ">
          
      </tr>
        {% for i in da %}
        
           <tr class=" ">
             <td>{{i.id}}</td>
             <td >{{i.name}}</td>
             <td >{{i.brand}}</td>
             <td >{{i.slug}}</td>
          <td>{{i.price}}</td>
          <td>
               <a  href="{% url 'see' i.id %}" class='text-info'>
                <i class="fa-solid fa-eye" ></i>
               </a>
               <a href="{% url 'edit' i.id %}" class='text-primary'>
                <i class="fa-solid fa-pen-to-square"></i>
               </a>
               <a onclick="del()" href="{% url 'delete' i.id %}" class='text-warning'>
                <i class="fa-solid fa-trash"></i>
               </a>
          </td>
        </tr>
        
        
        {% endfor %}
         {% else %}
         <tr class=" ">
          
       <td colspan="6" class=' fw-bold text-center bg-light'>! no data available in table</td>
     </tr>

        {% endif %}
        

     
 
     
      </tbody>
    </table>
  </div>
</div>

{% if messages %}
 {% for i in messages %}
 
<p class='text-{{i.tags}}' >

  {{i}}

</p>

 
 {% endfor %}

{% endif %}

 

{% endblock content %}
